<main>
    {{#each blogPosts as |post|}}
        <div id="blog-post"><a href='/api/blog/edit/{{post.id}}'>
            <div id="post-header">
                <h2>{{post.post_name}}</h2>
                <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
            </div>
            <div id="post-preview">
                <p>{{post.post_content}}</p>
                <a href='/api/blog/edit/{{post.id}}'><p class="read-more">Edit</p>
            </div>
        </div></a></a>
    {{/each}}

    <div id="new-post">
        <a href="/newPost"><button id="new-post-button">+ New Post</button></a>
    </div>
</main>