<main>
    {{#each blogPosts as |post|}}
        <div id="blog-post"><a href='/api/post/{{post.id}}'>
            <div id="post-header">
                <h2>{{post.post_name}}</h2>
                <p>{{post.user.name}}</p>
            </div>
            <div id="post-preview">
                <p>{{post.post_content}}</p>
                <a href='/api/blog/{{post.id}}'><p class="read-more">Read More</p>
            </div>
        </div></a></a>
    {{/each}}
</main>